/* ----------------
    RESET
------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
}
/*-------------
    HEADER
-------------*/
header {
  background-color: #1a1a2e;
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header img {
  height: 150px;
}

/*-------------
    MAIN
-------------*/

main {
  background-color: #111827;
}

.hero {
  background-image: url("/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  align-content: center;
  color: #1a1a2e;
}

.hero-content {
  background-color: white;
  height: auto;
  width: auto;
  margin: 50px;
  padding: 30px;
  border-radius: 25px;
}

.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.card a {
  text-decoration: none;
}

.order-container {
  display: flex;
  justify-content: end;
}

.order-container button {
  padding: 4px 8px;
  margin-right: 14px;
  border-radius: 10px;
  border: none;
}

.sect-compare {
  min-height: 57.1vh;
}
.search-compare {
  padding-top: 10px;

  position: relative;

  display: flex;
}
.comp-container {
  padding-top: 10px;
  text-align: center;
  color: white;
  /* margin: auto; */
}

.comp-card {
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 6px;
  margin: 30px auto;
  max-width: 350px;
}

.comp-grid img {
  height: 200px;
  margin-bottom: 20px;
}
.comp-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.searchlist {
  position: absolute;
  top: 100%;
  left: 0;
  width: 40%;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
  margin-top: 6px;
}

.searchlist-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #000000;
  background-color: white;
}

/*-------------
    PREFERITI
-------------*/

.pref-container {
  position: fixed;
  min-width: 300px;
  max-width: auto;
  height: 50vh;
  top: 40%;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 99999;
  overflow-y: auto;
  border-radius: 15px 0 0 15px;
  background-color: #1a1a2e;
  color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.pref-container li {
  margin-bottom: 6px;
}
.pref-container.open {
  transform: translateX(0);
}

.pref-container button {
  padding: 2px 4px;
}

/*-------------
    BUTTONS
-------------*/
.btn-primary,
.btn-secondary {
  background-color: #16a085 !important;
  border-color: #16a085 !important;
}

.btn-primary:hover,
.btn-secondary {
  background-color: #138d75 !important;
  border-color: #138d75 !important;
}
/*-------------
    FOOTER
-------------*/
footer {
  background-color: #0f0f0f;
  height: 200px;
}
.foot-cont {
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.foot-cont img {
  height: 200px;
}

.newsletter {
  padding-top: 16px;
}

.newsletter button {
  margin-top: 6px;
}

.reserved {
  background-color: #0f0f0f;
  color: white;
  padding-left: 50px;
  display: block;
}
